*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    background-image: url("../img/back.png");
    background-repeat: no-repeat;
}
.top{
    width: 1130px;
    margin: 0 auto;
}

.top-div{
    display: inline-block;
    margin: 30px;
}
.subtitle{
    color: white;
    text-align: center;
}